body{
    margin: 0px;
    background: floralwhite;
    color: firebrick;
}

.header{
    background-color: lightcoral;
    font-family: 'Press Start 2P', cursive;
    color: floralwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 26px;
}

.scoreboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-shadow: 3px 2px 2px lightcoral;
}

.scoreboard .roundWinner{
    font-family: 'Press Start 2P', cursive ;
    font-size: xx-large ;
    padding: 40px;
}

.you ,.comp {
    font-family: 'Press Start 2P', cursive;
    font-weight: 100;
}
.you p, .comp p{
    text-align: center;
}
.scores{
    display: flex;
    gap: 180px;
}

.allButtons{
    display: flex;
    justify-content: center;
    gap: 100px;
    padding:50px;
}

.allButtons button, .allButtons img{
    width: auto;
    height: 210px;
    background-color: #76d0d34a;
    transition: all .07s ease;
    font-size: 0px;


}

.allButtons button{
    border: 2px solid lightslategrey;
    border-radius: 15px;
}

.clicked{
  transform: scale(1.2);
  border-color: #ffc600;
  box-shadow: 0px 0px 77px -22px lightskyblue;
}