body{
    margin: 0px;
    background: floralwhite;
    color: firebrick;
    font-family: 'Press Start 2P', cursive;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.playAgain{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.playAgain button{
    font-family: 'Press Start 2P', cursive;
    padding: 5px;
    background-color: lightcoral;
    color: floralwhite;
}